{% extends 'cars/index.html' %}

{% block content%}<h1>{{ title }}</h1>
<!--
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="my-button">Отправить</button>
</form>
-->
<p>Добро пожаловать на мой учебный проект Django! Здесь вы найдете информацию о сайте и его функциях.</p>

  <h2>Цель проекта</h2>
  <p>Целью этого проекта является практическое применение знаний о Django для создания веб-приложения. Я хотел изучить основы работы с фреймворком Django и разработать полноценный сайт в рамках учебного процесса.</p>

    <h2>Особенности сайта</h2>
  <ul>
    <li>Аутентификация пользователей: регистрация, авторизация и управление учетными записями.</li>
    <li>Авторизация происходит по логину с паролем или по E-mail и паролю.</li>

    <li>Управление пользователями: возможность изменения профиля, добавление и удаление контента .</li>
    <li>Работа с контентом: создание, редактирование и удаление статей, изображений и другого контента только для авторизованых пользователей.</li>
    <li>Взаимодействие с базой данных: хранение данных пользователей, статей и другой информации в базе данных.</li>
    <li>Смена пароля в личном профиле: возможность пользователей изменять свой пароль, имя и фамилию для безопасности.</li>
  </ul>

  </ul>



{%endblock%}
