{% extends 'cars/index.html' %}

{% block content %}
   <h1>Профиль</h1>

<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.profile-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.profile-form p {
    margin-bottom: 20px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-form input[type="text"], .profile-form input[type="email"], .profile-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

.profile-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #0056b3;
}

.form-error {
    color: red;
}
</style>


   <form method="post" class="profile-form">
       {% csrf_token %}
       <div class="form-error">{{ form.non_field_errors }}</div>
       {% for f in form %}
           <p>
               <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
           </p>
           <div class="form-error">{{ f.errors }}</div>
           {{ f }}
       {% endfor %}
         <p>
       <button type="submit">Сохранить</button>
       <a href="{% url 'users:password_change' %}" class="button">Сменить пароль</a>
   </p>

   </form>


{% endblock %}