{% extends 'cars/index.html' %}

{% block content %}

<style>
.welcome-heading {
  color: #000;
  font-size: 36px;
  text-align: center;
}

.welcome-message {
  color: #555;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.login-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
</style>
<h1 class="welcome-heading">Welcome!</h1>
<p class="welcome-message">Вы успешно зарегистрировались на сайте! Теперь вы можете <a class="login-link" href="{% url 'users:login' %}">авторизоваться</a></p>
{% endblock %}

